<div class="flex h-screen md:max-h-screen place-content-center">
  <div class="md:flex-1 bg-white scroll">
    <form-list [formsList]="formListSend.formsList"></form-list>
  </div>
  <div class="md:flex-2 bg-gray-300 scroll">
    <drop-zone #formListSend></drop-zone>
  </div>
  <div class="md:flex-1 bg-white scroll">
    <div class="md:row-span-3 mx-auto">
      <div
        class="row mt-2 border-2 border-gray-300 border-t-0 border-r-0 border-l-0"
      >
        <span
          class="text-sm pl-[6%] font-normal font-stretch-expanded text-gray-500"
          >TEXT</span
        >

        @for(item of draggableTextItems; track $index){
        <d-draggable-item
          [label]="item.label"
          [placeholder]="item.placeholder"
          [type]="item.type"
          [icon]="item.icon"
          [description]="item.description"
          class="col-span-2"
        ></d-draggable-item>
        }
      </div>
      <div class="border-2 border-gray-300 border-t-0 border-r-0 border-l-0">
        <span
          class="text-sm pl-[6%] font-normal font-stretch-expanded text-gray-500"
          >DATE</span
        >
        @for(item of draggableDateItems; track $index){
        <d-draggable-item
          [label]="item.label"
          [placeholder]="item.placeholder"
          [type]="item.type"
          [icon]="item.icon"
          class="col-span-2"
        ></d-draggable-item
        >}
      </div>
      <div class="border-2 border-gray-300 border-t-0 border-r-0 border-l-0">
        <span
          class="text-sm pl-[6%] font-normal font-stretch-expanded text-gray-500"
          >MULTI</span
        >
        @for(item of draggableMultiItems; track $index){
        <d-draggable-item
          [label]="item.label"
          [placeholder]="item.placeholder"
          [type]="item.type"
          [icon]="item.icon"
          class="col-span-2"
        ></d-draggable-item>
        }
      </div>
      <div>
        <span
          class="text-sm pl-[6%] font-normal font-stretch-expanded text-gray-500"
          >MEDIA</span
        >
        @for(item of draggableMediaItems; track $index){<d-draggable-item
          [label]="item.label"
          [placeholder]="item.placeholder"
          [type]="item.type"
          [icon]="item.icon"
          class="col-span-2"
        ></d-draggable-item
        >}
      </div>
    </div>
  </div>
</div>
